# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
pip-cache/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Generated output folders
/images/
/data_filtered_demo/